@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "normalize";
@import "helpers";
@import "print";

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

$widthContainer: 400px;
$widthSquare: $widthContainer/8;

#container{
	width:$widthContainer;
	margin:100px auto 0;
	border-top:1px solid #555;
	border-left:1px solid #555;
}

.rank{
	@include clearfix;
	position:relative;

	label{
		position:absolute;
		width:1em;
		height:1em;
		top:50%;
		right:100%;
		margin-top:-.5em;
		margin-right:1em;
		line-height:1;
		text-align:center;
	}
	.file{
		float:left;
		display:inline;
		border-right:1px solid #555;
		border-bottom:1px solid #555;
		width:$widthSquare - 1;
		height:$widthSquare - 1;
		position:relative;

		span{
			position:absolute;
			height:1em;
			width:1em;
			top:50%;
			left:50%;
			margin-top:-.5em;
			margin-left:-.5em;
			line-height:1;
			text-align:center;
		}
	}
}
.file-labels label{
	float:left;
	width:$widthSquare;
	text-align:center;
	padding-top:1em;
}
