# NPM Packages
node_modules

# Logs
*.log

# Bower Packages
bower_components
.bower-cache
.bower-registry

# SASS Components
.sass-cache

# Source Maps
*.map

# compiled assets
public/styles/*.css

# Data
data.json
